fastapi==0.115.12
uvicorn[standard]
pyyaml==6.0.2
starlette-context==0.4.0
python-multipart==0.0.20
opencv-python==4.11.0.86
asyncio

deep_sort_realtime==1.3.2
protobuf>=3.9.2,<3.20
onnx==1.12.0
numpy==1.23.5
ultralytics==8.3.128

--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.13.1
